@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}

/* Common style */
a {
  text-decoration: none;
}

.common-btn {
  border-radius: 10px;
  background: rgb(78, 71, 255);
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 36px;
  cursor: pointer;
}
.common-btn:hover {
  background: #f3b304;
  transition: all 0.4s ease;
  color: black;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-family: "Inter", sans-serif;
  color: rgb(78, 71, 255);
  font-weight: 900;
}
/* ===== */

.bg-image {
  background: url("./assets/hero-bg.png") no-repeat center center / cover;
  min-height: 100vh;
  width: 100%;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

header .logo {
  font-size: 34px;
}
.header-nav ul {
  list-style: none;
}

.hero {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero h2 {
  color: rgb(37, 36, 50);
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
}

/* Action section */
.action {
  display: flex;
  justify-content: space-between;
  padding: 116px 0;
  align-items: center;
  gap: 23px;
}
.action-content h3 {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
}
.action-content p {
  padding: 23px 0;
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
}
.action-img {
  border-radius: 48px;
}

/* Rating section */
.rating {
}
.rating h2 {
  color: rgb(37, 36, 50);
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.reviews {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.review-card {
  border: 1px solid rgb(242, 237, 237);
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.5);
  padding: 24px;
}

.review-card h3 {
  color: rgb(30, 30, 30);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}
.review-card p {
  color: rgb(30, 30, 30);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.avatar-block {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.avatar-block img {
  border-radius: 50%;
}
.avatar-block h4 {
  color: rgb(117, 117, 117);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.avatar-block p {
  color: rgb(179, 179, 179);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Productive Users */
.productive-users {
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
  text-align: center;
  margin: 116px 0;
}
.productive-users h3 {
  color: rgb(37, 36, 50);
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 16px;
}
.productive-users-content {
  display: flex;
  justify-content: space-between;
}
.productive-users-content h1 {
  color: rgb(78, 71, 255);
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 700;
}
.productive-users-content p {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
/* Focus section */
.focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 71px 0px;
}
.focus h3 {
  font-size: 50px;
  font-weight: 700;
}
.focus p {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.focus img {
  border-radius: 48px;
  width: 100%;
}

/* Contact */

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 163px;
  margin-bottom: 71px;
  gap: 50px;
}

.contact h2 {
  font-size: 97px;
  font-weight: 700;
  flex: 1;
}

form {
  flex: 1;
}

form label {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
form input,
.message {
  border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 20px 32px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
form input:focus,
.message:focus {
  outline: none;
}
form input::placeholder,
.message::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.submit-btn {
  background: rgb(78, 71, 255);
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.submit-btn:hover {
  background: #f3b304;
  transition: all 0.4s ease;
  color: black;
}

/* Footer */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 104px 0;
  text-align: center;
  font-family: "Inter", sans-serif;
}

footer .logo {
  font-size: 100px;
}

footer p {
  color: rgb(137, 135, 161);
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 20px;
}
footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 48px;
}
footer ul li a {
  color: rgb(137, 135, 161);
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .action,
  .productive-users-content,
  .reviews,
  .contact,
  .avatar-block {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .avatar-block img {
    width: 50px;
    height: 50px;
  }
  .contact h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .contact form {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}
